/**
 * @name         Better Discord Theme
 * @description  Custom Better Discord Theme by Neiki
 * @author       NeikiDev
 * @version      1.0
 * @invite       d4jXrgVEw7
 * @authorId     402272736665272320
 */


 /* @import ""; */





:root {

 --main-color: #007dbd;  
  --hover-color: #03679b; 
  --home-color: #eee; 
  --home-size: 24px; 
											
	
}

